{{#extends 'base'}}

{{#block "content"}}
<h1>Actors</h1>
s
<table class="table">
    <thead>
        <tr>
            <th>Actor ID</th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
    </thead>
    <tbody>
        {{#each actors}}
        <tr>
            <td>{{this.actor_id}}</td>
            <td>{{this.first_name}}</td>
            <td>{{this.last_name}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{/block}}

{{/extends}}